body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #222;
    font-family: sans-serif;
    color: white;
    margin: 0; /* Remove default page margin */
}

h1, p {
    margin-bottom: 10px;
    text-align: center;
}

#gameCanvas {
    background-color: #444;
    border: 3px solid #eee;
}